RewriteEngine On
RewriteBase /SQL/Meetic/PiePHP/
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_URI} !^/SQL/Meetic/PiePHP/(webroot/.+|index.php|robots.txt)$
RewriteRule ^ index.php [QSA,L]